<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p>An error occurred: {{ error }}</p>
    <p>Repository URLs:</p>
    <ul>
        <li>Repository 1: {{ repo1_url }}</li>
        <li>Repository 2: {{ repo2_url }}</li>
    </ul>
    <p>Please make sure:</p>
    <ul>
        <li>The repository URLs are correct and in the format: https://github.com/owner/repo</li>
        <li>The repositories are public</li>
        <li>The repositories exist and are accessible</li>
    </ul>
    <a href="/">Try again</a>
</body>
</html>